body {
    max-width: 1440px; /* Максимальная ширина страницы в пикселах */ 
   }
   *{
    margin: 0;
    padding: 0;
   }

   header {
    display: flex;
    margin: 34px 72px 20px 70px;
    border-bottom: 1px solid #323334;
    padding-bottom: 20px;
   }
   .names_header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    color: #323334;
   }

   .image1_header {
    margin: 3px 0 0 798px;
   }
   .image2_header {
    margin: 5px 40px 0 37px;
   }
   .image3_header {
    margin: 0px 37px 0 0;
   }
   .image4_header {
    margin-top: 5px;
   }

   .header_two {
    display: flex;
    margin-left: 72px;
    border-bottom: 1px solid #323334;
    padding-bottom: 38px;
    padding-left: 140px;
    margin-right: 72px;
    padding-top: 15px;
}

.store {
    margin: 0 69px;
}
.brand {
    margin: 0 69px;
}
.about_us {
    margin: 0 69px;
}
.news {
    margin: 0 69px 0 0;
}

.home_page_brand {
    margin: 54px 530px;
}

.block_member_exclusive {
    background: #DCE1DA;
}

.member_exclusive {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 45px;
    text-transform: capitalize;
    color: #323334;
    padding: 44px 500px 16px 540px;
}

.off_everything {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 45px;
    text-transform: lowercase;
    color: #323334;
    margin: 0 310px 49px 360px;
}

.not_a_member {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #323334;
    margin: 0 530px 0 580px;
    padding-bottom: 45px;
}

.one_img_blanket {
    margin: 0px 30px 74px 0px;
}

.linen_beach {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #323334;
    margin: 32px 0 13px 0;
}

.dollar {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #323334;
    margin-top: 15px;
}

.load_more {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #323334;
    width: 270px;
    height: 30px;
    padding-top: 15px;
    padding-left: 71px;
    margin: 87px 369px 103px 340px;
}

.four_bloks_footer {
    background: #323334;
    display: flex;
    height: 447px;
}

.bloks_footer1 {
    margin: 57px 127px 0 74px;
}

.urban {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
}

.lorem_footer {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.5);
    width: 312px;
    margin: 41px 0;
}

.king {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.plus61_3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 8px 0;
}

.contact {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.logotype_footer {
    margin: 55px 0 0 0;
}

.shop {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.yuor_cart {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.your_orders {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.compr_items {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.wish_items {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.ship_detal {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}


.urban_out {
    background: #222222;
}

.urban_out_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    padding: 18px 588px;

}

.bloks_footer2 {
    margin: 50px 128px 0 0;
}



.bloks_footer4 {
    margin: 50px 128px 0 0;
}

.bloks_footer5 {
    margin: 50px 0 0 0;
}

.yuor_cart {
    margin: 34px 0 16px 0;
    display: flex;
}

.compr_items {
    margin: 16px 0 16px 0;
}

.ship_detal {
    margin-top: 16px;
}

.lorem_ips_footer {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    width: 312px;
    margin: 10px 0;
}

.coments {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.5;
}

.line {
    margin: 33px 0;
}

.mains_block_kategor {
    display: flex;
}

.block_kategor {
    margin-left: 72px;
    margin-right: 133px;
}

.new_arriv_big {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #323334;
    margin: 98px 0 14px 0;
}

.new_arriv {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #323334;
}

.shop_b_room {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #323334;
    margin: 42px 0 14px 0;
}

.bedrom {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #F81111;
}

.kategor_one {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #323334;
    margin: 12px 0 0 33px;
}

.kategor_two {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #323334;
    margin: 12px 0 12px 0;
}

.shop_by {
    margin: 30px 0 14px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #323334;
}

.kategor_three {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #323334;
    margin-bottom: 12px;
}

.Gender {
    margin-top: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #323334;
}

.Man {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #323334;
    margin: 14px 0;
}

input {
    margin-right: 10px;
}

.Woman {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #323334;
    margin-bottom: 38px;
}

.Color {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
    color: #323334;
    margin-bottom: 15px;
}

.Price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
    color: #323334;
    margin: 42px 0 14px 0;
}

.bedroom_names {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 52px;
    text-transform: uppercase;
    color: #323334;
    margin: 96px 0 37px 0;
}

.its_easy{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: #323334;
}

.filter_model {
    margin: 46px 0 28px 0;
    display: flex;
}

.filter_text {
    margin: 0 660px 0 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #323334;
}

.models {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #FE1313;
}

.produc {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #323334;
    margin-left: 53px;
    margin-bottom: 45px;
    display: flex;
}

.img_categor_main {
    display: flex;
}

.two_img_categor_main {
    display: flex;
}

.drop_down {
    width: 650px;
    height: 593px;
    background: #FFFFFF;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.1);
    opacity: 1;
    position: relative;
    margin-top: -600px;
    top: 660px;
    right: 30px;
    margin-right: -600px;
}

.done {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #323334;
    width: 153px;
    height: 30px;
    padding-top: 15px;
    padding-left: 100px;
    margin-left: 47px;

}
.clear {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #0e0d0d;
    background: hwb(0 100% 0%);
    width: 185px;
    height: 30px;
    padding-top: 15px;
    padding-left: 68px;
    border: 1px solid black;

}

.close_button {
    margin: 0 0 30px 584px;
    padding-top: 29px;
}

.filter_text {
    opacity: 1;
}

a {
    text-decoration: none;
    color: #0e0d0d;
}

.clicker {
    cursor:pointer;
    }
    
    .hiddendiv{
    display:none;
    position: relative;
    
    }
    
    .clicker:focus + .hiddendiv{
    display:block;
    }