<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/stdiscover.css">
  <title>Discover</title>
</head>

<body>
  <header>
    <nav>
      <div class="navbar">
        <div class="container nav-container">
          <input class="checkbox" type="checkbox" name="" id="" />
          <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
          </div>
          <div class="logo">
            <h1>Discover</h1><img src="static/img/image.png.svg" alt="">
          </div>
          <div class="menu-items">
            <li><a href="main.html">Home</a></li>
            <li><a href="creators.html">Creators</a></li>
            <li><a href="discover.html">Discover</a></li>
            <li><a href="sell.html">Sell</a></li>
            <li><a href="stats.html">Stats</a></li>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="leaderb">Discover NFTs</div>
    <div class="catcolprice">
      <div class="textccp"><img src="static/img/List.svg" alt=""> Category</div>
      <div class="textccp"><img src="static/img/Voice Id.svg" alt=""> Collection</div>
      <div class="textccp"><img src="static/img/Dollar.svg" alt=""> Price</div>
    </div>
    <div class="bloks1line1">
      <div class="bloks1">
        <div class="imgblock"><img src="static/img/Mask Group.svg" alt=""></div>
        <div class="textblock">Sun-Glass</div>
        <div class="curoldplace">
          <div class="curnumb">
            <div class="curold">Current bid</div>
            <div class="imgnumb"><span><img src="static/img/mdi_ethereum (1).svg" alt=""></span> 1.75</div>
          </div>
          <button class="placebid">PLACE BID</button>
        </div>
      </div>
      <div class="bloks1">
        <div class="imgblock"><img src="static/img/Mask Group (1).svg" alt=""></div>
        <div class="textblock">Sun-Glass</div>
        <div class="curoldplace">
          <div class="curnumb">
            <div class="curold">Current bid</div>
            <div class="imgnumb"><span><img src="static/img/mdi_ethereum (1).svg" alt=""></span> 1.75</div>
          </div>
          <button class="placebid">PLACE BID</button>
        </div>
      </div>
      <div class="bloks1">
        <div class="imgblock"><img src="static/img/Mask Group (2).svg" alt=""></div>
        <div class="textblock">Sun-Glass</div>
        <div class="curoldplace">
          <div class="curnumb">
            <div class="curold">Current bid</div>
            <div class="imgnumb"><span><img src="static/img/mdi_ethereum (1).svg" alt=""></span> 1.75</div>
          </div>
          <button class="placebid">PLACE BID</button>
        </div>
      </div>
      <div class="bloks1">
        <div class="imgblock"><img src="static/img/Mask Group (3).svg" alt=""></div>
        <div class="textblock">NuEvey</div>
        <div class="curoldplace">
          <div class="curnumb">
            <div class="curold">Current bid</div>
            <div class="imgnumb"><span><img src="static/img/mdi_ethereum (1).svg" alt=""></span> 1.25</div>
          </div>
          <button class="placebid">PLACE BID</button>
        </div>
      </div>
    </div>
    <div class="bloks1line2">
      <div class="bloks1">
        <div class="imgblock"><img src="static/img/Mask Group (1).svg" alt=""></div>
        <div class="textblock">Sun-Glass</div>
        <div class="curoldplace">
          <div class="curnumb">
            <div class="curold">Current bid</div>
            <div class="imgnumb"><span><img src="static/img/mdi_ethereum (1).svg" alt=""></span> 1.75</div>
          </div>
          <button class="placebid">PLACE BID</button>
        </div>
      </div>
      <div class="bloks1">
        <div class="imgblock"><img src="static/img/Mask Group.svg" alt=""></div>
        <div class="textblock">Sun-Glass</div>
        <div class="curoldplace">
          <div class="curnumb">
            <div class="curold">Current bid</div>
            <div class="imgnumb"><span><img src="static/img/mdi_ethereum (1).svg" alt=""></span> 1.75</div>
          </div>
          <button class="placebid">PLACE BID</button>
        </div>
      </div>
      <div class="bloks1">
        <div class="imgblock"><img src="static/img/Mask Group (3).svg" alt=""></div>
        <div class="textblock">NuEvey</div>
        <div class="curoldplace">
          <div class="curnumb">
            <div class="curold">Current bid</div>
            <div class="imgnumb"><span><img src="static/img/mdi_ethereum (1).svg" alt=""></span> 1.25</div>
          </div>
          <button class="placebid">PLACE BID</button>
        </div>
      </div>
      <div class="bloks1">
        <div class="imgblock"><img src="static/img/Mask Group (2).svg" alt=""></div>
        <div class="textblock">Sun-Glass</div>
        <div class="curoldplace">
          <div class="curnumb">
            <div class="curold">Current bid</div>
            <div class="imgnumb"><span><img src="static/img/mdi_ethereum (1).svg" alt=""></span> 1.75</div>
          </div>
          <button class="placebid">PLACE BID</button>
        </div>
      </div>
    </div>
    <div class="bloks1line3">
      <div class="bloks1">
        <div class="imgblock"><img src="static/img/Mask Group (2).svg" alt=""></div>
        <div class="textblock">Sun-Glass</div>
        <div class="curoldplace">
          <div class="curnumb">
            <div class="curold">Current bid</div>
            <div class="imgnumb"><span><img src="static/img/mdi_ethereum (1).svg" alt=""></span> 1.75</div>
          </div>
          <button class="placebid">PLACE BID</button>
        </div>
      </div>
      <div class="bloks1">
        <div class="imgblock"><img src="static/img/Mask Group.svg" alt=""></div>
        <div class="textblock">Sun-Glass</div>
        <div class="curoldplace">
          <div class="curnumb">
            <div class="curold">Current bid</div>
            <div class="imgnumb"><span><img src="static/img/mdi_ethereum (1).svg" alt=""></span> 1.75</div>
          </div>
          <button class="placebid">PLACE BID</button>
        </div>
      </div>
      <div class="bloks1">
        <div class="imgblock"><img src="static/img/Mask Group (1).svg" alt=""></div>
        <div class="textblock">Sun-Glass</div>
        <div class="curoldplace">
          <div class="curnumb">
            <div class="curold">Current bid</div>
            <div class="imgnumb"><span><img src="static/img/mdi_ethereum (1).svg" alt=""></span> 1.75</div>
          </div>
          <button class="placebid">PLACE BID</button>
        </div>
      </div>
      <div class="bloks1">
        <div class="imgblock"><img src="static/img/Mask Group (3).svg" alt=""></div>
        <div class="textblock">NuEvey</div>
        <div class="curoldplace">
          <div class="curnumb">
            <div class="curold">Current bid</div>
            <div class="imgnumb"><span><img src="static/img/mdi_ethereum (1).svg" alt=""></span> 1.25</div>
          </div>
          <button class="placebid">PLACE BID</button>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer">
    <div class="footer__addr">
      <h1 class="footer__logo">Something</h1>

      <h2>Contact</h2>

      <address>
        5534 Somewhere In. The World 22193-10212<br>

        <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
      </address>
    </div>

    <ul class="footer__nav">
      <li class="nav__item">
        <h2 class="nav__title">Media</h2>

        <ul class="nav__ul">
          <li>
            <a href="#">Online</a>
          </li>

          <li>
            <a href="#">Print</a>
          </li>

          <li>
            <a href="#">Alternative Ads</a>
          </li>
        </ul>
      </li>

      <li class="nav__item nav__item--extra">
        <h2 class="nav__title">Technology</h2>

        <ul class="nav__ul nav__ul--extra">
          <li>
            <a href="#">Hardware Design</a>
          </li>

          <li>
            <a href="#">Software Design</a>
          </li>

          <li>
            <a href="#">Digital Signage</a>
          </li>

          <li>
            <a href="#">Automation</a>
          </li>

          <li>
            <a href="#">Artificial Intelligence</a>
          </li>

          <li>
            <a href="#">IoT</a>
          </li>
        </ul>
      </li>

      <li class="nav__item">
        <h2 class="nav__title">Legal</h2>

        <ul class="nav__ul">
          <li>
            <a href="#">Privacy Policy</a>
          </li>

          <li>
            <a href="#">Terms of Use</a>
          </li>

          <li>
            <a href="#">Sitemap</a>
          </li>
        </ul>
      </li>
    </ul>

    <div class="legal">
      <p>&copy; 2019 Something. All rights reserved.</p>

      <div class="legal__links">
        <span>Made with <span class="heart">♥</span> remotely from Anywhere</span>
      </div>
    </div>
  </footer>
</body>

</html>