<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/ststats.css">
    <title>Stats</title>
</head>
<body>
    <header>
        <nav>
            <div class="navbar">
              <div class="container nav-container">
                  <input class="checkbox" type="checkbox" name="" id="" />
                  <div class="hamburger-lines">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                  </div>  
                <div class="logo">
                  <h1>Stats</h1><img src="static/img/image.png.svg" alt="">
                </div>
                <div class="menu-items">
                    <li><a href="main.html">Home</a></li>
                    <li><a href="creators.html">Creators</a></li>
                    <li><a href="discover.html">Discover</a></li>
                    <li><a href="sell.html">Sell</a></li>
                    <li><a href="stats.html">Stats</a></li>
                </div>
              </div>
            </div>
          </nav>
    </header>
    <main>
      <section class="stats">
        <div class="leaderb">Leaderboard NFTs</div>
        <div class="catcolprice">
          <div class="textccp"><img src="static/img/List.svg" alt=""> Category</div>
          <div class="textccp"><img src="static/img/Voice Id.svg" alt=""> Collection</div>
          <div class="textccp"><img src="static/img/Dollar.svg" alt=""> Price</div>
        </div>
        <div class="filtrinfo">
          <div class="cv26flowoi">
            <div class="collections">Collection <img src="static/img/Group.svg" alt=""></div>
            <div class="volume">Volume <img src="static/img/Group.svg" alt=""></div>
            <div class="twentyfourh">24 H <img src="static/img/Group.svg" alt=""></div>
            <div class="floorprice">Floor Price <img src="static/img/Group.svg" alt=""></div>
            <div class="owner">Owner <img src="static/img/Group.svg" alt=""></div>
            <div class="items">Items</div>
          </div>
          <div class="nameinfo">
            <div class="img"><img src="static/img/image.svg" alt=""></div>
            <div class="namediscrip">
              <div class="namecolec">Alex Ca.</div>
              <div class="bynamec">By Alex</div>
            </div>
            <div class="imgvol"><img src="static/img/mdi_ethereum.svg" alt=""> 8,456</div>
            <div class="hprocent">+27.78%</div>
            <div class="imgfloor"><img src="static/img/mdi_ethereum.svg" alt=""> 3,5</div>
            <div class="ownern">2,2K</div>
            <div class="itemsnumb">500</div>
          </div>
          <div class="lineimg"><img src="static/img/Line 4.svg" alt=""></div>
          <div class="nameinfo">
            <div class="img"><img src="static/img/image (1).svg" alt=""></div>
            <div class="namediscrip">
              <div class="namecolec">Dura Gx.</div>
              <div class="bynamec">By Dura</div>
            </div>
            <div class="imgvol"><img src="static/img/mdi_ethereum.svg" alt=""> 4,486</div>
            <div class="hprocent">+09.78%</div>
            <div class="imgfloor"><img src="static/img/mdi_ethereum.svg" alt=""> 2,4</div>
            <div class="ownern">2,2K</div>
            <div class="itemsnumb">900</div>
          </div>
          <div class="lineimg"><img src="static/img/Line 4.svg" alt=""></div>
          <div class="nameinfo">
            <div class="img"><img src="static/img/image (2).svg" alt=""></div>
            <div class="namediscrip">
              <div class="namecolec">Michal Yu.</div>
              <div class="bynamec">By Michal</div>
            </div>
            <div class="imgvol"><img src="static/img/mdi_ethereum.svg" alt=""> 9,124</div>
            <div class="hprocent">+11.78%</div>
            <div class="imgfloor"><img src="static/img/mdi_ethereum.svg" alt=""> 3,5</div>
            <div class="ownern">2,2K</div>
            <div class="itemsnumb">920</div>
          </div>
          <div class="lineimg"><img src="static/img/Line 4.svg" alt=""></div>
          <div class="nameinfo">
            <div class="img"><img src="static/img/image (3).svg" alt=""></div>
            <div class="namediscrip">
              <div class="namecolec">Differy Da.</div>
              <div class="bynamec">By Tom</div>
            </div>
            <div class="imgvol"><img src="static/img/mdi_ethereum.svg" alt=""> 3,657</div>
            <div class="hprocent">+22.78%</div>
            <div class="imgfloor"><img src="static/img/mdi_ethereum.svg" alt=""> 2,4</div>
            <div class="ownern">2,2K</div>
            <div class="itemsnumb">300</div>
          </div>
          <div class="lineimg"><img src="static/img/Line 4.svg" alt=""></div>
          <div class="nameinfo">
            <div class="img"><img src="static/img/image (4).svg" alt=""></div>
            <div class="namediscrip">
              <div class="namecolec">Union Ca.</div>
              <div class="bynamec">By Jerry</div>
            </div>
            <div class="imgvol"><img src="static/img/mdi_ethereum.svg" alt=""> 4,486</div>
            <div class="hprocent">+27.78%</div>
            <div class="imgfloor"><img src="static/img/mdi_ethereum.svg" alt=""> 2,4</div>
            <div class="ownern">2,2K</div>
            <div class="itemsnumb">800</div>
          </div>
          <div class="lineimg"><img src="static/img/Line 4.svg" alt=""></div>
          <div class="nameinfo">
            <div class="img"><img src="static/img/image (5).svg" alt=""></div>
            <div class="namediscrip">
              <div class="namecolec">Duckly Dk.</div>
              <div class="bynamec">By Duck</div>
            </div>
            <div class="imgvol"><img src="static/img/mdi_ethereum.svg" alt=""> 8,456</div>
            <div class="hprocent">+15.78%</div>
            <div class="imgfloor"><img src="static/img/mdi_ethereum.svg" alt=""> 3,5</div>
            <div class="ownern">2,2K</div>
            <div class="itemsnumb">500</div>
          </div>
          <div class="lineimg"><img src="static/img/Line 4.svg" alt=""></div>
          <div class="nameinfo">
            <div class="img"><img src="static/img/image (4).svg" alt=""></div>
            <div class="namediscrip">
              <div class="namecolec">Union Ca.</div>
              <div class="bynamec">By Jerry</div>
            </div>
            <div class="imgvol"><img src="static/img/mdi_ethereum.svg" alt=""> 4,486</div>
            <div class="hprocent">+27.78%</div>
            <div class="imgfloor"><img src="static/img/mdi_ethereum.svg" alt=""> 2,4</div>
            <div class="ownern">2,2K</div>
            <div class="itemsnumb">800</div>
          </div>
          <div class="lineimg"><img src="static/img/Line 4.svg" alt=""></div>
          <div class="nameinfo">
            <div class="img"><img src="static/img/image (5).svg" alt=""></div>
            <div class="namediscrip">
              <div class="namecolec">Duckly Dk.</div>
              <div class="bynamec">By Duck</div>
            </div>
            <div class="imgvol"><img src="static/img/mdi_ethereum.svg" alt=""> 8,456</div>
            <div class="hprocent">+15.78%</div>
            <div class="imgfloor"><img src="static/img/mdi_ethereum.svg" alt=""> 3,5</div>
            <div class="ownern">2,2K</div>
            <div class="itemsnumb">500</div>
          </div>
          <div class="lineimg"><img src="static/img/Line 4.svg" alt=""></div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer__addr">
        <h1 class="footer__logo">Something</h1>
            
        <h2>Contact</h2>
        
        <address>
          5534 Somewhere In. The World 22193-10212<br>
              
          <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
        </address>
      </div>
      
      <ul class="footer__nav">
        <li class="nav__item">
          <h2 class="nav__title">Media</h2>
    
          <ul class="nav__ul">
            <li>
              <a href="#">Online</a>
            </li>
    
            <li>
              <a href="#">Print</a>
            </li>
                
            <li>
              <a href="#">Alternative Ads</a>
            </li>
          </ul>
        </li>
        
        <li class="nav__item nav__item--extra">
          <h2 class="nav__title">Technology</h2>
          
          <ul class="nav__ul nav__ul--extra">
            <li>
              <a href="#">Hardware Design</a>
            </li>
            
            <li>
              <a href="#">Software Design</a>
            </li>
            
            <li>
              <a href="#">Digital Signage</a>
            </li>
            
            <li>
              <a href="#">Automation</a>
            </li>
            
            <li>
              <a href="#">Artificial Intelligence</a>
            </li>
            
            <li>
              <a href="#">IoT</a>
            </li>
          </ul>
        </li>
        
        <li class="nav__item">
          <h2 class="nav__title">Legal</h2>
          
          <ul class="nav__ul">
            <li>
              <a href="#">Privacy Policy</a>
            </li>
            
            <li>
              <a href="#">Terms of Use</a>
            </li>
            
            <li>
              <a href="#">Sitemap</a>
            </li>
          </ul>
        </li>
      </ul>
      
      <div class="legal">
        <p>&copy; 2019 Something. All rights reserved.</p>
        
        <div class="legal__links">
          <span>Made with <span class="heart">♥</span> remotely from Anywhere</span>
        </div>
      </div>
    </footer>
</body>
</html>